@import './mixins_and_inludes';

@font-face {
    font-family: custom-verdana;
    src: url('../font/verdana/verdana.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 14px;
    @media screen and (min-width: 1024px) {
        font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
        font-size: 15px;
    }
    @media screen and (min-width: 1440px) {
        font-size: 16px;
    }
    @media screen and (min-width: 1600px) {
        font-size: 18px;
    }
}

body {
    font-family: custom-verdana, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #0f0f0f;
    color: #fff;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.todo-container {
    max-width: 1200px;
    width: 95%;
    padding-top: 1rem;
    margin: 0 auto;

    h1 {
        text-align: center;
    }

    .common-wrapper {
        max-width: 900px;
        min-width: 120px;
        width: 100%;
        margin: 0 auto;
    }

    input#task,
    input#editTask {
        width: 100%;
        @include inputProps();
    }

    h1,
    input#task,
    input#editTask {
        @include todoComponentSpacing(1rem);
    }
}

.task-list {
    list-style-type: none;
    max-width: 900px;
    width: 100%;
}

.task-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row nowrap;
    margin-bottom: 0.5rem;

    .task-content-container {
        display: flex;
        align-items: flex-start;
        flex-flow: row nowrap;
        width: 100%;
        input[type="checkbox"] {
            margin-top: 5px;
            margin-right: 0.5rem;
        }

        input[type="checkbox"]:checked + p {
            span:last-child {
                text-decoration-style: solid;
                text-decoration-line: line-through;
                text-decoration-thickness: 2px;
                text-decoration-color: #ccc;
            }
        }

        .task-text {
            display: inline-block;
            width: 100%;
        }
        .task-text span {
            display: inline-block;
            vertical-align: top;
            &:first-child {
                max-width: 45px;
                width: 100%;
            }
            &:last-child {
                max-width: calc(100% - 55px);
                width: 100%;
            }
        }
    }


    .task-icon-container {
        white-space: nowrap;

        img {
            filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(245deg) brightness(105%) contrast(105%);
            margin-right: 0.5rem;
            &:last-child{
                margin-right: 0;
            }
        }
    }
}

.task-list li.striked-list span:last-child {
    text-decoration-style: solid;
    text-decoration-line: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: #ccc;
}

.task-list li img {
    cursor: pointer;
}